[hyoo_tree_body] {
	display: flex;
}

[hyoo_tree_source] {
	flex: 1000 0 40rem;
	display: flex;
	flex-direction: column;
}

[hyoo_tree_source_view] {
	flex: 33% 1 1;
}

[hyoo_tree_result] {
	flex: 1000 0 40rem;
	outline: 0 0 0 1px var(--mol_theme_line);
	display: flex;
	flex-direction: column;
}

[hyoo_tree_result_text] {
	flex: auto 1 0;
}

