[hyoo_tree_body] {
	display: flex;
}

[hyoo_tree_presets_list] {
	padding: var(--mol_gap_block);
}

[hyoo_tree_source] {
	flex: 1 0 auto;
	max-width: 80rem;
	display: flex;
	flex-direction: column;
}

[hyoo_tree_source_body] {
	padding: var(--mol_gap_block);
}

[hyoo_tree_result] {
	flex: 1 0 auto;
	max-width: 80rem;
	outline: 0 0 0 1px var(--mol_theme_line);
	display: flex;
	flex-direction: column;
}

[hyoo_tree_result_head] {
}

[hyoo_tree_result_body] {
	padding: var(--mol_gap_block);
}
